<!DOCTYPE html>
<html>
<head>
    <title>Server Status</title>
</head>
<body>
    <h1>Welcome to {{ ansible_hostname }}</h1>
    <p>Apache Service is currently: <strong>{{ apache_status }}</strong></p>
</body>
</html>
